$default-bg: #fff;
$default-bg-secondary: #478783;
$inner-default-bg: #E0E8E7;
$inner-default-bg-secondary: #BEE6E3;
$main-screen-bg: #B3CDC5;
$main-screen-text: #478783;
$main-button-color: #6FAEAA;
$secondary-button-color: #fff;
$main-button-text: #fff;
$secondary-button-text: #000;