@use "mixins";
@use "variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: variables.$default-bg;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: variables.$default-bg;
    display: flex;
    .left{
        background-color: variables.$default-bg-secondary;
        width: 16.9%;
        .menu{
            background-color: variables.$inner-default-bg-secondary;
            border-top-left-radius: 28px;
            border-bottom-left-radius: 28px;
            width: 82%;
            height: 86%;
            margin-left: 18%;
            margin-top: 20%;
            nav{
                height: 100%;
                ul{
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: space-between;
                    li{
                        list-style: none;
                        display: flex;
                        text-align: center;
                        align-items: center;
                        border-radius: 17px;
                        padding: 10% 20% 10% 20%;
                        width: 50%;
                        margin: 10% 10% 10% 10%;
                        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
                        img{
                            width: 15px;
                            margin-right: 10px;
                        }
                        a{
                            text-decoration: none;
                            text-align: center;
                            font-weight: 400;
                            font-size: larger;
                            text-transform: capitalize;
                        }
                    }
                    .home-btn{
                        background-color: variables.$main-button-color;
                        a{
                            color: variables.$main-button-text;
                        }
                    }
                    .leave-btn{
                        background-color: variables.$secondary-button-color;
                        a{
                            color: variables.$secondary-button-text;
                        }
                    }
                }
            }
        }
    }
}
